:root {
  touch-action: none;
}

.homePage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: #f8b400;
}

.searchButton {
  display: none;
}
.searchBar {
  display: none;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  background-color: #faf5e4;
  align-items: center;
  height: 7%;
}
.logoImage {
  margin-left: 2%;
  height: 80%;
}
.navBar {
  display: none;
}
.iconforSmallsizes {
  margin-right: 3%;
  font-size: 1rem;
}
.categoryCardImage {
  height: 50%;
  width: 100%;
}
.categoryCardMainConatiner {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  height: 50vh;
  width: 75%;
  margin-left: 5vw;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: #faf5e4;
  margin: 2%;
  width: 40%;
  height: 55%;
  border-radius: 1rem;
  font-size: clamp(1rem, 2.5vw, 5rem);
}

.categoryCardImage {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  height: 80%;
  width: 100%;
}

.categoryCardHeading {
  margin-top: 5%;
  font-weight: bold;
  font-size: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

.footerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #faf5e4;
  height: 8%;
}

.categoryMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f8b400;
}

.shopByCategoryHeading {
  margin-top: 5%;
  font-weight: bold;
  font-size: clamp(1rem, 2.5vw, 5rem);
  font-family: Arial, Helvetica, sans-serif;
}

.backBtncontainer {
  margin-bottom: 10%;
}

.backBtn {
  cursor: pointer;
  border: 0px;
  border-radius: 0.5rem;
  background-color: blue;
  color: #ffffff;
  padding: 1%;
  width: 30vw;
  height: 6vh;
  font-weight: bold;
  font-size: 100%;
  font-size: clamp(1rem, 2.5vw, 5rem);
}
.backBtninShirtsCategoryContainer {
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 10%;
}

.backBtninShirtsCategory {
  cursor: pointer;
  border: 0px;
  border-radius: 0.5rem;
  background-color: blue;
  color: #ffffff;
  padding: 2%;
  font-weight: bold;
  font-size: clamp(1rem, 2.5vw, 5rem);
}
.backBtn2inShirtsCategory {
  cursor: pointer;
  border: 0px;
  border-radius: 0.5rem;
  background-color: blue;
  color: #ffffff;
  padding: 2%;
  margin: 1rem 0px;
  font-weight: bold;
  font-size: clamp(1rem, 1.5vw, 5rem);
}
.subCategoriesContainer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 70%;
}

.subCategoryCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: #faf5e4;
  width: 45%;
  height: 50%;
  margin: 2%;
  font-size: clamp(1rem, 2.5vw, 5rem);
  border-radius: 10%;
}

.subCategoryPageMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f8b400;
}

.shirtsSubCategoryHeading {
  margin-top: 2%;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(1rem, 2vw, 5rem);
}
.subCategoriesItemsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5vw;
  width: 50%;
  height: 70%;
}
.itemCardContainer {
  display: flex;
  flex-direction: column;
  background-color: #faf5e4;
  margin: 2%;
  border-radius: 10%;
  width: 30%;
  height: 45%;
}

.itemTitle,
.itemPrice {
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.25rem 0px;
  font-size: 0.8rem;
}

.itemImage {
  height: 80%;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

@media screen and (min-width: 759px) {
  .homePage {
    display: inline-block;
  }

  .categoryCardMainConatiner {
    margin-top: 10%;
    margin-left: 18%;
  }

  .footerContainer {
    display: none;
  }

  .navBar {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
  }
  .iconforSmallsizes {
    display: none;
  }

  .searchButton {
    width: 17%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    border-radius: 40px;
    background-color: white;
    height: 80%;
  }
  .searchBar {
    display: flex;
    border: 0;
    width: 80%;
    height: 100%;
  }

  .navElement {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.hideElement {
  display: none;
}
